.Rproj.user
.Rhistory
.RData
.Ruserdata
*.nb.html
*.log
*.lst
*.*~
nuweb/*.log
nuweb/*.aux
nuweb/*.bbl
nuweb/*.blg
nuweb/*.out
nuweb/*.tex
nuweb/*.synctex
nuweb/*.ind
nuweb/*.ilg
ManuscriptCode/Manuscript_cache/*
ManuscriptCode/Manuscript_files/*